.page{

    width: 500px;
    margin-top: 4%;
    
}

.dracaufeuHeader{
    
    background-color:rgb(29, 123, 245);
    color: white;
}

.dracaufeuHeader, .main, .pikachu{
    border: 1px solid gray;
}

.pikachu{
    background-color: lightgray;
}

.descriptionDracaufeu{
    
}

.arrow{
    margin-right: 10px;
}

@media screen and (max-width: 767px){
    .descriptionDracaufeu{
        display: flex;
        justify-content: center;
    }
}